@import "reset.css";
@import "container.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

/* sticky footer */
/*
  min-height: calc(100vh - #footer'height);
*/
/*.site-content {*/
  /*min-height: calc(100vh - 200px);*/
/*}*/

/*.header__menu {*/
  /*width: 40%;*/
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
/*}*/

/*.header__menu-item {*/
  /*width: calc(100% / 4);*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

/*.header__menu-item > a {*/
  /*width: 90%;*/
  /*text-align: center;*/
  /*color: black;*/
  /*text-decoration: none;*/
/*}*/