{% extends 'core/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="{% static 'core/css/modal.css' %}">
{% endblock %}

{% block javascript_top %}
  <script src="{% static 'core/js/phaser.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/b3c2293037.js"></script>
{% endblock %}

{% block content %}
  <audio loop muted autoplay id="champions_audio">
    <source src="{% static 'core/sounds/chamsbgm.mp3' %}" type="audio/mpeg">
  </audio>
  <div class="header">
    {% if user.is_authenticated %}
      <div class="header__menu">
        {{ user.last_name }}{{ user.first_name }}님
      </div>
      <div class="header__menu" onclick="location.href='{% url 'accounts:logout' %}'">
        로그아웃
      </div>
    {% else %}
      <div class="header__menu" data-toggle="modal" onclick="loginModalShow()">
        로그인
      </div>
      <div class="header__menu" data-toggle="modal" onclick="signupModalShow()">
        회원가입
      </div>
    {% endif %}
  </div>
  <div class="swiper-container swiper-container-v">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-container swiper-container-h">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper__first-page">
              <div class="first-page__box">
                <div class="first-page__box-inner">
                  <div>Van Dijk'DOR</div>
                  <div>반 다이크'도르</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide swiper__second-page"></div>
            <div class="swiper-slide swiper__third-page"></div>
          </div>
          <div class="swiper-pagination swiper-pagination-h swiper-pagination-progressbar"
               id="swiper-pagination-progressbar__custom"></div>
        </div>
      </div>
      <div class="swiper-slide main-slide">
        <div id="main-slide__canvas-wrapper">
          <canvas id="canvas" tabindex="1" style="z-index: 200; border: 1px solid black;"></canvas>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__box">
          <div class="ranking_board">
            <div class="ranking_board__title-box">
              <div class="ranking_board__title">Ranking Board</div>
              <span class="ranking_board__refresh-button" onclick="refreshScoreBoard()">
                <i class="fas fa-sync-alt"></i>
              </span>
            </div>
            <div class="ranking_board__score-list">
              <div class="ranking_board__score-header">
                <div class="ranking_board__info">
                  <div>순위</div>
                  <div>
                    유저 정보
                  </div>
                </div>
                <div>점수</div>
              </div>
              <div class="ranking_board__score-body">
                {% for score in score_list %}
                  <div class="ranking_board__score-item">
                    <div class="ranking_board__info">
                      <div>{{ forloop.counter }}위</div>
                      <div>
                        {{ score.user }}
                        <small>({{ score.user.last_name }}{{ score.user.first_name }})</small>
                      </div>
                    </div>
                    <div>{{ score }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="footer__title">
              Van Dijk'DOR
              <small>Copyright, M.G&J.W Corp. All rights reserved.</small>
            </div>
            <hr>
            <div class="footer__main">
              <div class="footer__left">
                <div class="footer__left-title">
                  Developer
                </div>
                <div class="footer__left-inner">
                  <div class="footer__left__image-box">
                    <img src="{% static 'core/images/kmg.png' %}" alt="">
                  </div>
                  <div class="footer__left__info">
                    <div>Kim Min-gu</div>
                    <div>Department of Software</div>
                    <div>18011669</div>
                  </div>
                </div>
                <div class="footer__left-inner">
                  <div class="footer__left__image-box">
                    <img src="{% static 'core/images/ljw.png' %}" alt="">
                  </div>
                  <div class="footer__left__info">
                    <div>Lee Jae-won</div>
                    <div>Department of Software</div>
                    <div>18011671</div>
                  </div>
                </div>
              </div>
              <div class="footer__center">
                <span id="typed"></span>
                <div id="typed-strings" style="display: none;">
                  <p>Sejong University</p>
                  <p>Department of Software</p>
                  <p>SW Design Basis</p>
                  <p>Team Project - Van Dijk'DOR</p>
                </div>
              </div>
              <div class="footer__right">
                <div class="footer__right-inner">
                  <div class="footer__right-title">
                    Game Engine
                  </div>
                  <div class="footer__right-info">
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_phaser.png' %}" alt=""></div>
                      <div>Phaser</div>
                    </div>
                  </div>
                </div>
                <div class="footer__right-inner">
                  <div class="footer__right-title">
                    Front-End
                  </div>
                  <div class="footer__right-info">
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_html.png' %}" alt=""></div>
                      <div>HTML</div>
                    </div>
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_css.png' %}" alt=""></div>
                      <div>CSS</div>
                    </div>
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_js.png' %}" alt=""></div>
                      <div>JavaScript</div>
                    </div>
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_swiper.png' %}" alt=""></div>
                      <div>Swiper</div>
                    </div>
                  </div>
                </div>
                <div class="footer__right-inner">
                  <div class="footer__right-title">
                    Back-End
                  </div>
                  <div class="footer__right-info">
                    <div class="footer__right-info__item">
                      <div><img src="{% static 'core/images/logo_django.jpg' %}" alt=""></div>
                      <div>Django</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-v swiper-pagination-red"></div>
  </div>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitl"
       aria-hidden="true">
    <div class="modal__box">
      <div class="modal__content">
        <div class="modal__close-button">
          <i class="fas fa-times" onclick="closeModal()"></i>
        </div>
        <div class="modal__header">
          로그인
        </div>
        <div class="modal__body">
          <form action="{% url 'accounts:login' %}" class="modal__login-form" method="post">
            {% csrf_token %}
            <input type="email" placeholder="이메일" name="email">
            <input type="password" placeholder="비밀번호" name="password">
            <div class="modal__form-button-box">
              <div class="modal__form-button" onclick="signupModalShow()">회원가입</div>
              <button type="submit" class="modal__form-button">로그인</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="login__modal"
       aria-hidden="true">
    <div class="modal__box">
      <div class="modal__content modal__signup">
        <div class="modal__close-button">
          <i class="fas fa-times" onclick="closeModal()"></i>
        </div>
        <div class="modal__header">
          회원가입
        </div>
        <div class="modal__body">
          <form action="{% url 'accounts:signup' %}" class="modal__login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="성" name="last_name">
            <input type="text" placeholder="이름" name="first_name">
            <input type="email" placeholder="이메일" name="email">
            <input type="password" placeholder="비밀번호" name="password">
            <div class="modal__form-button-box">
              <div class="modal__form-button" onclick="loginModalShow()">로그인</div>
              <button type="submit" class="modal__form-button">회원가입</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript_bottom %}
  <script>
    let loginModalShow = () => {
      document.querySelector('#signup-modal').classList.remove('modal__fade');
      document.querySelector('#login-modal').classList.add('modal__fade');
    };

    let signupModalShow = () => {
      document.querySelector('#login-modal').classList.remove('modal__fade');
      document.querySelector('#signup-modal').classList.add('modal__fade');
    };

    let closeModal = () => {
      document.querySelector('#signup-modal').classList.remove('modal__fade');
      document.querySelector('#login-modal').classList.remove('modal__fade');
    };

    let refreshScoreBoard = () => {
      const xhr = new XMLHttpRequest();
      xhr.open("GET", "/api/score/", true);
      xhr.setRequestHeader("x-csrf-token", "fetch");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send();
      xhr.onreadystatechange = function (e) {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;
        if (xhr.status === 200) {
          let json = JSON.parse(xhr.response);
          const board = document.querySelector(".ranking_board__score-body");
          let newBoard = "";
          json.map((el, index) => {
            newBoard +=
                `<div class="ranking_board__score-item">
                  <div class="ranking_board__info">
                    <div>${index + 1}위</div>
                    <div>
                      ${el.user.email}
                      <small>(${el.user.last_name}${el.user.first_name})</small>
                    </div>
                  </div>
                  <div>${el.point}</div>
                </div>`;
          });
          board.innerHTML = newBoard;
          alert('Ranking Board가 업데이트 되었습니다.')
        } else {
          alert(xhr.responseText);
        }
      };
    }
  </script>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
  <script src="{% static 'core/js/main.js' %}"></script>

  <script src="{% static 'core/js/phaser.min.js' %}"></script>

  <script src="{% static 'core/js/Load.js' %}"></script>
  <script src="{% static 'core/js/StartScene.js' %}"></script>
  <script src="{% static 'core/js/Scene1.js' %}"></script>
  <script src="{% static 'core/js/Scene2.js' %}"></script>
  <script src="{% static 'core/js/EndScene.js' %}"></script>

  <script src="{% static 'core/js/game.js' %}"></script>
  <script src="{% static 'core/js/explosion.js' %}"></script>
  <script src="{% static 'core/js/beam.js' %}"></script>

{% endblock %}